#hehe {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(190, 235, 248);
}

#ok1 {
    background-color: rgb(246, 161, 161);
}

#ok {
    border: 1px solid black;
    background-color: rgba(226, 188, 246, 0.301);
    ;
}

#ok2 {
    border: 2px solid rgb(191, 211, 247);
}

#ok3 {
    background-color: rgb(208, 239, 234);
    color: green;
}

#hii {
    border: 1px solid black;
    background-color: rgb(240, 200, 126);
}

.oye {
    border: 1px solid black;

}

#oyeee {
    color: blue;

}

#i {
    border: 1px solid black;
    background-color: rgb(177, 230, 251);
}

#op {
    border: 1px solid black;
    background-color: rgba(110, 179, 200, 0.301);
    ;

}

#opp {
    border: 1px solid black;
    background-color: rgba(110, 179, 200, 0.301);
    ;

}

#last {
    border: 1px solid black;
    background-color: rgba(110, 179, 200, 0.301);

}